@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

body {
    min-height: 100vh;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}
/* ############### GENERAL #################### */
.title-mid {
    font-size: 4rem;
    line-height: 1.1;
}

.green-text {
    color: #45D483;
}
.blue-text {
    color: #06B7DB;
}

.title-right {
    text-align: right;
}

.indent {
    margin-left: 11rem;
}

.subtitle-div{
    margin-top: 0.4rem;
    font-size: 1.5rem;
}

/* ############### TECHNOLOGIES #################*/

.technologies-container {
    min-height: 30rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, #052814bb 0%, rgba(0, 0, 0, 1) 30%);
}

.icons-box-div {
    position: relative;
    height: 20rem;
    width: 50%;
    overflow: hidden;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 2rem;
    background: rgb(127,255,212);
    background: radial-gradient(circle at left, #45D483 30%, #06B7DB 70%);    
}

.cards-container-div {
    width: 50%;
    height: 20rem;
    display: flex;
    align-items: center;
}

.cards-flex-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.tech-card-main{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.tech-card-div {
    width: 100%;
    padding: 1rem;
    border: 1px solid rgb(255,255,255, 0.09);
    border-radius: 0.5rem;
    background: rgb(255,255,255, 0.04);
}
.tech-card-div:hover {
    cursor: pointer;
    border: 1px solid rgb(255,255,255, 0.12);
    background: rgb(255,255,255, 0.08);
    box-shadow: 0px 0px 1rem rgb(255,255,255, 0.1);
}

.tech-is-selected {
    border: 1px solid rgb(255,255,255, 0.12);
    background: rgb(255,255,255, 0.1);
    box-shadow: 0px 0px 1rem rgb(255,255,255, 0.1);
}

.tech-is-selected:hover {
    border: 1px solid rgb(255,255,255, 0.12);
    background: rgb(255,255,255, 0.1);
    box-shadow: 0px 0px 1rem rgb(255,255,255, 0.1);
}

.tech-icon-div {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: rgb(0, 0, 0, 0.7);
}

.tech-icon-div:hover {
    cursor: pointer;
}

.tech-info-banner-div {
    border-radius: 50%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgb(0, 0, 0, 0.8);
    padding: 1rem;
    padding-top: 6rem;
}

.tech-info-banner-div:hover {
    cursor: pointer;
}

/* ################# EDUCATION ################# */

.education-main {
    margin-top: 8rem;
}

.education-cards-container {
    padding-top: 3rem;
    position: relative;
    height: 500px;
}

.education-column-div {
    width: 50%;
}

.education-card-main-left {
    width: 100%;
    padding: 1rem;
    padding-right: 30%;
}

.education-card-main-right {
    width: 100%;
    padding: 1rem;
    padding-left: 30%;
}

.education-card-div {
    position: relative;
    width: 100%;
    padding: 2rem;
    border-radius: 0.5rem;
}

.education-card-div:hover {
    background: radial-gradient(circle at calc(var(--cursor-x) * 100%) calc(var(--cursor-y) * 100%),  #052814bb 0%, transparent 80%);
}

.offset-catch-div {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.education-card-header {
    display: flex;
    justify-content: left;
    align-items: center;
}

.education-card-header-details {
    margin-left: 2rem;
}

.education-card-body {
    margin-top: 1.5rem;
}

/* ################## MEDIA RESPONSIVE STYLES ################ */

/* x-large devices */
@media all and (min-width: 1051px){
    body {
       padding: 0rem 10rem 0rem 10rem;
    }
}
/* large devices */
@media all and (min-width: 992px) and (max-width: 1050px){
    body {
       padding: 0rem 6rem 0rem 6rem;
    }
}
/* medium devices*/
@media all and (min-width: 768px) and (max-width: 991px){
    body {
        padding: 0rem 2rem 0rem 2rem;
    }
}
/* mobile devices */
@media all and (max-width: 767px) {
    body {
        padding: 0rem;
    }
}