/* This styles sheet is organized by Folders, that means each folder contained in "/src/components" has its own section in this sheet, 
delimitated by a comment with the name of the folder (e.g. EDUCATION), media queries are at the end of each section*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

body {
    min-height: 100vh;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}
.page-general-styles {
    padding-top: 5rem;
    background-color: rgb(0, 0, 0);
    background: radial-gradient(circle at 100% 7%, #06B7DB -40%, rgba(0, 0, 0, 1) 12%);
}

@media all and (min-width: 1700px){
    .page-container {
        padding-right: 15rem;
        padding-left: 15rem;
    }
}
@media all and (min-width: 1200px) and (max-width: 1699px){
    .page-container {
        padding-right: 6rem;
        padding-left: 6rem;
    }
}
@media all and (min-width: 900px) and (max-width: 1199px){
    .page-container {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}
@media all and (min-width: 756px) and (max-width: 899px) {
    .page-container {
        padding-top: 5rem;
        padding-right: 0rem;
        padding-left: 0rem;
    }
}
@media all and (max-width: 755px){
    .page-general-styles {
        padding-top: 3rem;
    }
    .page-container {
        padding-right: 0rem;
        padding-left: 0rem;
    }
}

/* ###############         GENERAL         ######################################################################### */
.title-main-container{
    padding-top: 4rem;
}
.title-mid {
    font-size: 4rem;
    line-height: 1.1;
}

.green-text {
    color: #45D483;
}
.blue-text {
    color: #06B7DB;
}
.gradient-text {
    background: -webkit-linear-gradient(#45D483, #06B7DB);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-right {
    text-align: right;
}

.indent {
    margin-left: 11rem;
}

.subtitle-div{
    margin-top: 0.4rem;
    font-size: 1.5rem;
}
.bar-buttons-div {
    display: flex;
}
.bar-button {
    margin-left: 0.5rem;
}
.bar-button:hover{
    cursor: pointer;
}

.copy-button:hover {
    cursor: pointer;
}
.tooltip-background {
    color: white;
    background-color: #333333;
}

.clipboard-button-div {
    width: 1.3rem;
    position: relative;
}
.clipboard-button-icon {
    position: absolute;
    top: 0px;
}
::-webkit-scrollbar {
    background: rgb(0, 0, 0);
}

::-webkit-scrollbar-track {
  background: #333333;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}
@media all and (min-width: 756px) and (max-width: 899px){
    .title-main-container {
        padding: 0rem 1.5rem;
    }
}
@media all and (min-width: 350px) and (max-width: 755px){
    .title-main-container {
        padding: 0rem 1.5rem;
    }
    .title-mid {
        font-size: 3.5rem;
    }
    .subtitle-div{
        font-size: 1.3rem;
    }
}
@media all and (max-width: 349px){
    .title-main-container {
        padding: 0rem 1.5rem;
    }
    .title-mid {
        font-size: 2rem;
    }
    .subtitle-div{
        font-size: 1.1rem;
    }
}

/* ###############         NAVBAR         ######################################################################### */
.navbar-main {
    z-index: 3;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
}
.navbar-title-div {
    display: flex;
    align-items: center;
    font-size: 3rem;
}
.navbar-title-div:hover {
    cursor: pointer;
}
.navbar-options-div {
    display: flex;
    align-items: center;
}
.navbar-link {
    font-size: 1.1rem;
    margin-right: 1rem;
}
.navbar-link:hover {
    cursor: pointer;
}

@media all and (min-width: 756px) and (max-width: 899px){
    .navbar-main {
        padding: 0rem 1.5rem;    
    }
    .title-main-container {
        padding: 0rem 1.5rem;
    }
}
@media all and (min-width: 350px) and (max-width: 755px){
    .navbar-main {
        padding: 0rem 1.5rem;    
    }
    .navbar-title-div{
        font-size: 2rem;
    }
    
}
@media all and (max-width: 349px){
    .navbar-main {
        padding: 0.5rem 0.5rem;    
    }
    .navbar-title-div{
        font-size: 1.5rem;
    }
}
@media all and (max-width: 450px){
    .navbar-link {
        display: none;
    }
}
@media all and (max-width: 530px){
    .navbar-link {
        font-size: 1rem;
        margin-right: 0.5rem;
    }
}

/* ###############         HEADER         ######################################################################### */
.header-main {
    padding-top: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    min-height: 90vh;
    min-height: clac(100vh - 5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header-introduction-section {
    font-size: 1.7rem;
}
.header-subtitle {
    font-size: 2.5rem;
}
.header-languages-item {
    display: flex;
    align-items: center;
}
.flag-div {
    display: flex;
    align-items: end;
    height: 1.4rem;
    width: 2.5rem;
    padding: 0rem 0.3rem;
}
.content-div {
    width: calc(100% - 2.5rem);
}
.header-languages-label {
    font-size: 1.4rem;
}
.header-languages-content {
    font-size: 1.4rem;
}
.header-contact-section {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.contact-data-div {
    padding: 0.5rem 0rem;
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-personal-data-div {
    width: 19rem;
    display: flex;
    justify-content: end;
}
.header-personal-data-p {
    font-size: 1.4rem;
    margin-right: 0.8rem;
}
@media all and (min-width: 350px) and (max-width: 755px){
    .header-main {
        padding-top: 1rem;
    }
    .header-introduction-section {
        font-size: 1.5rem;
    }
    .header-subtitle {
        font-size: 1.7rem;
    }
    .header-languages-label {
        font-size: 1.2rem;
    }
    .header-languages-content {
        font-size: 1.1rem;
    }
    .header-personal-data-p {
        font-size: 1.2rem;
    }
}
@media all and (max-width: 349px){
    .header-main {
        padding-top: 0.5rem;
    }
    .header-introduction-section {
        font-size: 1.2rem;
    }
    .header-language-section {
        padding-top: 0.5rem;
    }
    .header-contact-section {
        padding-top: 0.5rem;
    }
    .header-subtitle {
        font-size: 1.5rem;
    }
    .header-languages-label {
        font-size: 1.1rem;
    }
    .header-languages-content {
        font-size: 1rem;
    }
    .header-personal-data-p {
        font-size: 1rem;
    }
}

/* ###############       TECHNOLOGIES        #########################################################################*/

.technologies-container {
    min-height: 30rem;
    padding: 2rem 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #052814bb 0%, rgba(0, 0, 0, 1) 30%);
}
.technologies-padding-div {
    padding-top: 3rem;
}

.icons-box-div {
    position: relative;
    min-height: 25rem;
    width: 50%;
    overflow: hidden;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 2rem;
    background: rgb(127,255,212);
    background: radial-gradient(circle at left, #45D483 30%, #06B7DB 70%);    
}

.cards-container-div {
    width: 50%;
    min-height: 20rem;
    display: flex;
    align-items: center;
}

.cards-flex-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.tech-card-main{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.tech-card-div {
    width: 100%;
    padding: 1rem 0rem 1rem 1rem;
    font-size: 1.2rem;
    border: 1px solid rgb(255,255,255, 0.09);
    border-radius: 0.5rem;
    background: rgb(255,255,255, 0.01);
}
.tech-card-div:hover {
    cursor: pointer;
    border: 1px solid rgb(255,255,255, 0.12);
    background: rgb(255,255,255, 0.08);
    box-shadow: 0px 0px 1rem rgb(255,255,255, 0.1);
}

.tech-is-selected {
    border: 1px solid rgb(255,255,255, 0.12);
    background: rgb(255,255,255, 0.1);
    box-shadow: 0px 0px 1rem rgb(255,255,255, 0.1);
}

.tech-is-selected:hover {
    border: 1px solid rgb(255,255,255, 0.12);
    background: rgb(255,255,255, 0.1);
    box-shadow: 0px 0px 1rem rgb(255,255,255, 0.1);
}

.tech-icon-div {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: rgb(0, 0, 0, 0.7);
}

.tech-icon-div:hover {
    cursor: pointer;
}

.tech-info-banner-div {
    font-size: 1.3rem;
    border-radius: 50%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgb(0, 0, 0, 0.8);
    padding: 1rem;
    padding-top: 6rem;
}

.tech-info-banner-div:hover {
    cursor: pointer;
}

@media all and (min-width: 1700px){
    
}
/* large devices */
@media all and (min-width: 1200px) and (max-width: 1699px){
    
}
/* medium devices*/
@media all and (min-width: 900px) and (max-width: 1199px){
    .tech-card-main{
        width: 100%;
    }
    .icons-box-div{
        height: 456px;
    }
}
@media all and (min-width: 756px) and (max-width: 899px){
    .tech-card-main{
        width: 100%;
    }
    .icons-box-div{
        height: 456px;
    }
}
@media all and (min-width: 501px) and (max-width: 755px){
    .technologies-container {
        flex-direction: column-reverse;
        background: radial-gradient(circle at 100% 50%, #052814bb 0%, rgba(0, 0, 0, 1) 50%);
    }
    .tech-info-banner-div {
        font-size: 1.2rem;
    }
    .cards-container-div {
        width: 100%;
    }
    .tech-card-main{
        width: 100%;
        padding: 0.5rem 0rem;
    }
    .tech-card-div {
        padding: 0.7rem 0rem 0.7rem 0.7rem;
    }
    .icons-box-div{
        margin: 1.5rem;
        margin-top: 0rem;
        width: 100%;
        min-height: 22rem;
    }
}
@media all and (max-width: 500px){
    .technologies-container {
        flex-direction: column-reverse;
        background: radial-gradient(circle at 100% 50%, #052814bb 0%, rgba(0, 0, 0, 1) 40%);
    }
    .tech-info-banner-div {
        font-size: 1rem;
    }
    .cards-container-div {
        width: 100%;
    }
    .tech-card-main{
        width: 100%;
        padding: 0.3rem 0rem;
    }
    .tech-card-div {
        padding: 0.4rem 0rem 0.4rem 0.4rem;
    }
    .icons-box-div{
        margin-bottom: 0.5rem;
        width: 100%;
        min-height: 22rem;
    }
}

/* #################     EXPERIENCE        ################################################################################################## */

.experience-main {
    padding-top: 4rem;
}
.experience-padding-div {
    padding-top: 3rem;
}

.experience-cards-container {
    padding-top: 3rem;
    min-height: 500px;
}

.experience-column-div {
    width: 50%;
}

.experience-card-main-left {
    width: 100%;
    padding: 1rem;
    padding-right: 30%;
}

.experience-card-main-right {
    width: 100%;
    padding: 1rem;
    padding-left: 30%;
}

.experience-card-div {
    position: relative;
    width: 100%;
    padding: 2rem;
    border-radius: 0.5rem;
}

@keyframes background-gradient {
    0% {background: none }
    10% {background: radial-gradient(circle at calc(var(--cursor-x) * 100%) calc(var(--cursor-y) * 100%),  #052814bb 0%, transparent 8%);}
    20% {background: radial-gradient(circle at calc(var(--cursor-x) * 100%) calc(var(--cursor-y) * 100%),  #052814bb 0%, transparent 16%);}
    30% {background: radial-gradient(circle at calc(var(--cursor-x) * 100%) calc(var(--cursor-y) * 100%),  #052814bb 0%, transparent 24%);}
    40% {background: radial-gradient(circle at calc(var(--cursor-x) * 100%) calc(var(--cursor-y) * 100%),  #052814bb 0%, transparent 32%);}
    50% {background: radial-gradient(circle at calc(var(--cursor-x) * 100%) calc(var(--cursor-y) * 100%),  #052814bb 0%, transparent 40%);}
    60% {background: radial-gradient(circle at calc(var(--cursor-x) * 100%) calc(var(--cursor-y) * 100%),  #052814bb 0%, transparent 48%);}
    70% {background: radial-gradient(circle at calc(var(--cursor-x) * 100%) calc(var(--cursor-y) * 100%),  #052814bb 0%, transparent 56%);}
    80% {background: radial-gradient(circle at calc(var(--cursor-x) * 100%) calc(var(--cursor-y) * 100%),  #052814bb 0%, transparent 64%);}
    90% {background: radial-gradient(circle at calc(var(--cursor-x) * 100%) calc(var(--cursor-y) * 100%),  #052814bb 0%, transparent 72%);}
    100% {background: radial-gradient(circle at calc(var(--cursor-x) * 100%) calc(var(--cursor-y) * 100%),  #052814bb 0%, transparent 80%);}
}

.experience-card-div:hover {
    animation-fill-mode: forwards;
    animation-name: background-gradient;
    animation-duration: 0.3s;
}

.offset-catch-div {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    border-radius: 0.5rem;
}

.experience-card-header {
    display: flex;
    justify-content: left;
    align-items: center;
}

.experience-card-header-details {
    font-size: 1.6rem;
    margin-left: 2rem;
}

.experience-card-body {
    font-size: 1.3rem;
    margin-top: 1.5rem;
}

@media all and (min-width: 1700px){
    
}
@media all and (min-width: 1200px) and (max-width: 1699px){
    
}
@media all and (min-width: 900px) and (max-width: 1199px){
    
}
@media all and (min-width: 756px) and (max-width: 899px){
    .experience-card-header-details {
        font-size: 1.5rem;
    }
    
    .experience-card-body {
        font-size: 1.2rem;
    }
}
@media all and (min-width: 550px) and (max-width: 755px){
    .experience-card-main-left {
        padding: 1rem;
    }
    
    .experience-card-main-right {
        padding: 1rem;
    }
    .experience-card-div {
        padding: 1rem;
    }
    
}
@media all and (max-width: 549px){
    .experience-card-header {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .experience-card-logo-div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .experience-card-header-details {
        font-size: 1.3rem;
        margin-left: 0rem;
        margin-top: 1rem;
    }
    .experience-card-div {
        padding: 1rem 0rem;
    }
    .experience-card-body {
        font-size: 1.1rem;
    }
    .experience-card-main-left {
        padding: 1rem;
    }
    
    .experience-card-main-right {
        padding: 1rem;
    }
    
}

/* ################# EDUCATION ################# */

.education-main {
    margin-top: 4rem;
}

.education-cards-container {
    padding-top: 3rem;
    position: relative;
    height: 500px;
}

.education-column-div {
    width: 50%;
}

.education-card-main-left {
    width: 100%;
    padding: 1rem;
    padding-right: 30%;
}

.education-card-main-right {
    width: 100%;
    padding: 1rem;
    padding-left: 30%;
}

.education-card-div {
    position: relative;
    width: 100%;
    padding: 2rem;
    border-radius: 0.5rem;
}

.education-card-div:hover {
    background: radial-gradient(circle at calc(var(--cursor-x) * 100%) calc(var(--cursor-y) * 100%),  #052814bb 0%, transparent 80%);
}

.offset-catch-div {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.education-card-header {
    display: flex;
    justify-content: left;
    align-items: center;
}

.education-card-header-details {
    margin-left: 2rem;
}

.education-card-body {
    margin-top: 1.5rem;
}


/* ################## FOOTER ################ */
.footer-main {
    background-color: rgb(0,0,0);
    background: radial-gradient(ellipse at 0% 130%, #06B7DB -400%, rgba(0, 0, 0, 1) 50%);
    padding-bottom: 2rem;
    padding-top: 2rem;
    height: 9rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.personal-data-div {
    padding: 0.3rem 0;
    width: 13.5rem;
    display: flex;
    justify-content: end;
}
.footer-subsection-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.personal-data-p {
    margin-right: 0.5rem;
}

@media all and (min-width: 756px) and (max-width: 899px){
    .footer-main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media all and (max-width: 755px){
    .footer-main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
 
    .footer-main {
        padding-bottom: 1rem;
        padding-top: 1rem;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .personal-data-div {
        justify-content: center;
    }
    .footer-subsection-div {
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
}